[access]
	inheritFrom = All-Projects
[project]
	state = active
[access "refs/heads/*"]
	create = group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	label-Code-Review = -2..+2 group Non-Interactive Users
	label-Verified = -1..+1 group Non-Interactive Users
	read = group Non-Interactive Users
[receive]
	requireChangeId = true
